<div class="sidebar">
    <a [routerLink]="['\weather']"><i class="fas fa-map-marker-alt"></i><span>Weather and location</span></a>
    <a [routerLink]="['\mainlayout']"><i class="fa fa-book"></i><span>Notepad</span></a>
    <!-- <a href="#"><i class="fas fa-table"></i><span>Tables</span></a>
  <a href="#"><i class="fas fa-th"></i><span>Forms</span></a>
  <a href="#"><i class="fas fa-info-circle"></i><span>About</span></a>
  <a href="#"><i class="fas fa-sliders-h"></i><span>Settings</span></a> -->
</div>
