.sidebar {
    background-color: #0A6464;
    /* border-bottom: 1px solid white; */
}

.sidebar h4 {
    color: #ccc;
    margin-top: 0;
    margin-bottom: 20px;
}

.sidebar a {
    color: #fff;
    text-align: center;
    display: block;
    text-transform: uppercase;
    width: 100%;
    line-height: 55px;
    text-decoration: none;
    /* padding-left: 40px; */
    box-sizing: border-box;
    transition: 0.5s;
    border-bottom: 1px solid #098383;
    /* transition-property: background; */
}

.active,
.sidebar a:hover {
    /* background: #19B3D3; */
    border-left: 5px solid yellow;
    border-right: 5px solid yellow;
}

.sidebar a.active {
    border-bottom: 3px solid #338ecf;
    background: #eee
}

.sidebar i {
    padding-right: 10px;
}
